@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body{
    margin: 0;
    height: 100vh;
    background: linear-gradient(to bottom,
    #FFA76A,   
    #B573D1,   
    #5C3D91,  
    #1A1A50   
  );

}

header {
    display: flex;
    align-items: center;
    padding: 10px 23px;
}


.texto{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

#logo{
    display: flex;
    align-items: center;
    padding: 17px 40px; 
    color: #0050FF;
    font-weight: bold;
    font-size: 16px;
    line-height: 1;
    width: fit-content;
    height: 50px;
}

