@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body{
    margin: 0;
    height: 100vh;
    background: linear-gradient(to bottom,
    #FFA76A,   
    #B573D1,   
    #5C3D91,  
    #1A1A50   
  );

}

header {
    display: flex;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.navbar {
    width: 100%;
}

.texto{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}